<div class="container-card mt-5">
    <div class="title text-center ">
        <h1 class="new text-uppercase ">What is new?</h1>
    </div>
    <div class="row justify-content-sm-center">
        <div *ngFor="let book of booksList" class="col-md-3 col-sm-6 col-xs-12">

            <div class="card ">
                <a [routerLink]="['/books', book._id]">
                    <img class="book-img" [src]="book.image" alt="Book Image" >
                  </a>  
               

                <!-- <button *ngIf="isLogged" class="btn-details shadow-effect"
                    [routerLink]="['/books', book._id]">Details</button> -->
            </div>
        </div>
    </div>
</div>