.container{
    background-color: azure;
    height: 500px;
}
.card{
    background-color: azure;

}

.btn-info{
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.btn-delete{
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.img-card {
    background-color: azure;
    position: relative;
  }