.edit-book fieldset {
     margin-top: 450px;
     margin-right: -400px;
    border-radius: 0.5em;
      padding: 0.8em;
      /* background-color: #1e384f; */
    background-color: rgba(0, 0, 0, 0.566);

      box-shadow: 0px 0px 50px -10px rgba(200, 233, 225, 0.900);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* position: absolute; */
      min-width: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;      
  }

  .container{
  background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 180vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.error{
  color: red;
}
  .edit-book input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    /* border-left: 0.3em solid green; */
    border-radius: 15px 15px 15px 15px;
    /* border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em; */
  }

  form.edit-book {
    width: 50%;
    margin: 2em auto 0;
    text-align: center;
  }

  .edit-book textarea {
    flex: 0 1 100%;
    /* border: 1px solid; */
    padding: 0.3em;
    border-radius: 15px 15px 15px 15px;
  
  }

  .btn-edit {
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
  }

  h4 {
    color: azure;
  }
  
  
  
  label {
    color: azure;
  }
  
  
  .add-description {
    display: flex;
    flex-direction: column;
  }

