<div class="container">
    <form class="register" [formGroup]="form" (ngSubmit)="register()">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->

            <div class="form-group d-grid gap-3">
                <p class="field field-icon">
                    <!-- <label for="username">Username</label> -->
                    <input class="input-error form-control w-50 mx-auto" type="text" name="username" id="username"
                        placeholder="Username" formControlName="username">
                </p>
                <ng-container *ngIf="form.get('username')?.touched">
                    <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                        Username is required!
                    </p>
                    <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                        Username's length should not be less than 5 characters!
                    </p>
                </ng-container>
            </div>

            <!-- email -->
            <div class="form-group d-grid gap-3">
                <p class="field field-icon">
                    <!-- <label for="email">Email</label> -->
                    <input type="email" name="email" id="email" placeholder="Email"
                        formControlName="email">
                </p>
                <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                        Email is required!
                    </p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
                        Email is not valid!
                    </p>
                </ng-container>
            </div>


            <ng-container formGroupName="passGroup">
                <!-- password -->
                <div class="form-group d-grid gap-3">
                    <p class="field field-icon">
                        <!-- <label for="password">Password</label> -->
                        <input type="password" name="password" id="password" placeholder="Password"
                            formControlName="password">
                    </p>
                    <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">
                            Password is required!
                        </p>
                        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">
                            Password must be at least 4 characters!
                        </p>
                    </ng-container>
                </div>
                <!-- rePassword -->
                <div class="form-group d-grid gap-3">
                    <p class="field field-icon">
                        <!-- <label for="rePassword">Repeat Password</label> -->
                        <input type="password" name="rePassword" id="rePassword" placeholder="Repeat Password"
                            formControlName="rePassword">
                    </p>
                    <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                        <p class="error"
                            *ngIf="form.get('passGroup')?.errors?.['matchPassValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']">
                            Repeat
                            Password does not match password!</p>
                    </ng-container>
                </div>
            </ng-container>

            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a href="/home">Log In</a>
            </p>

        </fieldset>
    </form>
</div>