/* new-theme */


.add-book fieldset {
  /* border-radius: 0.5em;
  padding: 0.8em;
  background-color: #1e384f;
  box-shadow: 0px 0px 50px -10px rgba(200, 233, 225, 0.900); */

  border-radius: 0.5em;
    padding: 0.8em;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 50px -10px rgba(200, 233, 225, 0.900);
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* position: absolute; */
    min-width: 500px;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    z-index: 9999;
    
}

form.add-book {
  width: 50%;
  margin: 2em auto 0;
  text-align: center;
}

.add-book input {
  flex: 0 1 100%;
  border: 1px solid;
  padding: 0.3em;
  /* border-left: 0.3em solid green; */
  border-radius: 15px 15px 15px 15px;
  /* border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em; */
}

.add-book textarea {
  flex: 0 1 100%;
  border: 1px solid;
  padding: 0.3em;
  border-radius: 15px 15px 15px 15px;

}

.btn-add {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}

h4 {
  color: azure;
}




label {
  color: azure;
}


.add-description {
  display: flex;
  flex-direction: column;
}



/* .new-theme-border {
    border: 1px solid;
    border-radius: 1em;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
  }
  
  .new-theme-border .input {
    margin-bottom: 1em;
  }
  
  .header-background {
    background-color: #4ebced;
    border: 1px solid #4ebced;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  }
  
  .header-background span {
    background-color: #fff;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.3em;
  }
  
  .title,
  .new-theme-content {
    display: flex;
    flex-direction: column;
  }
  
  .new-theme-content {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .new-theme-content textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0;
  }
  
  .new-theme-content label {
    margin-bottom: 0.3em;
  }
  
  .new-theme-title input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
  }
  
  button + button {
    margin-left: 1rem;
  }
  
  .new-theme-buttons {
    margin-top: 1em;
    text-align: center;
  }
  
  .new-theme-buttons button {
    padding: 0.4em 1.5em;
    border: 1px solid #333333;
    border-radius: 0.3em;
  }
  
  p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }
  
  .input-error {
    border-left-color: red;
  } */