<!-- <div class="add-container">

  <form class="add-book" #form="ngForm" (ngSubmit)="addBookSubmitHandler(form)">
    <fieldset>
      <h4>Add New Book</h4>
      <div class="form-group d-grid gap-3">
        <label>Book Title</label>
        <input type="text" class="form-control w-50 mx-auto" id="name" placeholder="Book Title" ngModel
          #inputName="ngModel" required />
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName.errors?.['required']">
            Book title is required.
          </p>
        </ng-container>
      </div>

      <div class="form-group d-grid gap-3">
        <label>Book Author</label>
        <input type="text" class="form-control w-50 mx-auto" placeholder="Book Author" name="author" id="author" ngModel
          #inputName="ngModel" required minlength="5" />
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName.errors?.['required']">
            Book author is required.
          </p>
          <p class="error" *ngIf="inputName.errors?.['minlength']">
            Book author's name must be at least 5 characters long.
          </p>
        </ng-container>
      </div>

      <div class="form-group d-grid gap-3">
        <label>Book Image</label>
        <input type="text" class="form-control w-50 mx-auto" id="image" placeholder="Book Image" name="image"
           ngModel #inputName="ngModel" required minlength="5"/>
           <ng-container *ngIf="inputName.touched">
            <p class="error" *ngIf="inputName.errors?.['required']">
              Image is required.
            </p>
            <p class="error" *ngIf="inputName.errors?.['minlength']">
              Image is invalid.
            </p>
          </ng-container>
      </div>

      <div class="form-group d-grid gap-3">
        <label>First Published</label>
        <input type="text" class="form-control w-50 mx-auto" id="published" placeholder="First Published" ngModel
        #inputName="ngModel"
        required/>
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName.errors?.['required']">
            The field is required.
          </p>         
        </ng-container>
      </div>

      <div class="form-group d-grid gap-3">
        <label>Book Genre</label>
        <input type="text" class="form-control w-50 mx-auto" id="genre" placeholder="Book Genre" 
        ngModel
        #inputName="ngModel"
        required
        minlength="5"/>
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName.errors?.['required']">
            Genre is required.
          </p>
          <p class="error" *ngIf="inputName.errors?.['minlength']">
            Genre name must be at least 5 characters long.
          </p>
        </ng-container>
      </div>

      <div class="form-group d-grid gap-3">
        <label>Description</label>
        
        <textarea id="description" name="description" rows="6" cols="50" 
        ngModel
        #textAreaInput="ngModel"
        required
        minlength="20"></textarea>
        <ng-container *ngIf="textAreaInput.touched">
          <p class="error" *ngIf="textAreaInput.errors?.['required']">
            The field with the description is required.
          </p>
          <p class="error" *ngIf="textAreaInput.errors?.['minlength']">
            Description must be at least 20 characters long.
          </p>
        </ng-container>

      </div>

      <button class="btn-theme" [disabled]="form.invalid">Add Book</button>
   

    </fieldset>
  </form>
</div> -->





<div class="container position-relative">
    <div class="new-theme-border position-absolute top-50 start-50 translate-middle">      
      <form #form="ngForm" (ngSubmit)="addBookSubmitHandler(form)" class="add-book ml-2">
        <fieldset>
          <h4>Add New Book</h4>
        <div class="form-group d-grid gap-3">
          <label for="themeName">Book Name</label>
          <input 
            class="form-control w-50 mx-auto"
            type="text"
            name="name"
            id="name"
            ngModel
            #inputName="ngModel"
            required
            minlength="5"
          />
  
          <ng-container *ngIf="inputName.touched">
            <p class="error" *ngIf="inputName.errors?.['required']">
              Theme name is required.
            </p>
            <p class="error" *ngIf="inputName.errors?.['minlength']">
              Theme name must be at least 5 characters long.
            </p>
          </ng-container>
        </div>
        <div class="form-group d-grid gap-3">
            <label for="themeName">Author</label>
            <input
            class="form-control w-50 mx-auto"
              type="text"
              name="author"
              id="author"
              ngModel
              #inputName="ngModel"
              required
              minlength="5"
            />
    
            <ng-container *ngIf="inputName.touched">
              <p class="error" *ngIf="inputName.errors?.['required']">
                Theme name is required.
              </p>
              <p class="error" *ngIf="inputName.errors?.['minlength']">
                Theme name must be at least 5 characters long.
              </p>
            </ng-container>
          </div>
          <div class="form-group d-grid gap-3">
            <label for="themeName">Image</label>
            <input
            class="form-control w-50 mx-auto"
              type="text"
              name="image"
              id="bookImage"
              ngModel
              #inputName="ngModel"
              required
              minlength="5"
            />
    
            <ng-container *ngIf="inputName.touched">
              <p class="error" *ngIf="inputName.errors?.['required']">
                Theme name is required.
              </p>
              <p class="error" *ngIf="inputName.errors?.['minlength']">
                Theme name must be at least 5 characters long.
              </p>
            </ng-container>
          </div> 
       
        <div class="form-group d-grid gap-3">
            <label for="published">Published</label>
            <input
            class="form-control w-50 mx-auto"
              type="number"
              name="published"
              id="published"
              ngModel
              #inputName="ngModel"
              required
             
            />
    
            <ng-container *ngIf="inputName.touched">
              <p class="error" *ngIf="inputName.errors?.['required']">
                Theme name is required.
              </p>
              <p class="error" *ngIf="inputName.errors?.['minlength']">
                Theme name must be at least 5 characters long.
              </p>
            </ng-container>
          </div>
          <div class="form-group d-grid gap-3">
            <label for="genre">Genre</label>
            <input
            class="form-control w-50 mx-auto"
              type="text"
              name="genre"
              id="bookGenre"
              ngModel
              #inputName="ngModel"
              required
              minlength="5"
            />
    
            <ng-container *ngIf="inputName.touched">
              <p class="error" *ngIf="inputName.errors?.['required']">
                Theme name is required.
              </p>
              <p class="error" *ngIf="inputName.errors?.['minlength']">
                Theme name must be at least 5 characters long.
              </p>
            </ng-container>
          </div>
          <div class="form-group d-grid gap-3">
            <label for="description" class="add-description">Description</label>
            <textarea           
             class="form-control w-50 mx-auto"
              type="text"
              name="description"
              id="description"
              rows="8"
              cols="40"
              class="height"
              ngModel
              #textAreaInput="ngModel"
              required
              minlength="10"
            ></textarea>
    
            <ng-container *ngIf="textAreaInput.touched">
              <p class="error" *ngIf="textAreaInput.errors?.['required']">
                The field with your post is required.
              </p>
              <p class="error" *ngIf="textAreaInput.errors?.['minlength']">
                Post must be at least 10 characters long.
              </p>
            </ng-container>
          </div>
          
  
        <div class="new-theme-buttons">          
          <button class="btn-add" [disabled]="form.invalid">Add Book</button>
        </div>
      </fieldset>
      </form>
    </div>
  </div>