

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}



.img-card {
  background-color: azure;
  position: relative;
}

.description-card {
  background-color: azure;

}

.btn-details {
  color: rgba(59, 65, 66, 0.996); 
  background-color: rgb(171, 201, 206);
  height: 40px;
  width: 100px;
  font-size: 13px;
  margin: 0.5em 1em;  
  border: none;
  border-radius: 0.3em;
}
.card{
  width: 85%;
  align-self: center;
}

.card-text {  
  width: 100%;  
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: azure;

  font-family: 'Raleway', sans-serif;
}

.card-author {
  font-family: 'Charm', cursive;
}



.card-body {
  color: rgb(51, 68, 89);
}

.container-card{
  background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  
}
