/* .theme-container a {
  text-decoration: none;
  color: inherit;

}

.theme-container span {
  font-weight: bold;
}

.theme-container h2,
p {
  padding: 0.3em 0 0.2em;
  margin: 0;
} */

/* .theme-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.5em;
  border: 1px solid #999;
  border-radius: 0.3em;
  font-size: 0.8em;
  margin-top: 1em;
} */

/* .theme-title {
  padding: 0;
  width: 95%;
  margin: 0 auto;
} */

/* .theme-name {
  width: 100%;
  border-bottom: 1px solid #56afcd;
  ;
  border-radius: 0.3em;
} */

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

/* .subscribers {
  text-align: right;
  flex-basis: 25%;
} */

/* .subscribers button {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  width: 100%;
} */

/* .subscribe {
  background-color: green;
} */

/* .unsubscribe {
  background-color: red;
} */

/* time {
  font-weight: bold;
} */

/* .welcome-comp {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
} */

.img-card {
  background-color: azure;
  position: relative;
}

.description-card {
  background-color: azure;

}

.btn-details {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}

.title {
  color: azure;

  font-family: 'Raleway', sans-serif;
}

.card-author {
  font-family: 'Charm', cursive;
}



.card-body {
  color: rgb(51, 68, 89);
}

.container-card{
  background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
