<header >
    <nav class="mini-navbar-wrap py-md-4 text-center ">

        <span class="site-logo">Book Fandom</span>

        <div class="mini-navbar">
            <ul *ngIf="isLoggedIn" class="d-flex">
                <div class="d-flex justify-content-start align-items-center">
                    <li><a routerLink="/home" class="p-2">Home</a></li>
                    <li><a routerLink="/books" class="p-2">Books</a></li>
                    <li><a href="/add" class="p-2">Add Book</a></li>
                </div>>
                <div class="item-right d-flex justify-content-end align-items-center">
                    <li><a routerLink="/profile" class="p-2" >{{username}}'s profile</a></li>
                    <li (click)="logout()" class="p-2" ><a>Logout</a></li>
                </div>
            </ul>
            <ul *ngIf="!isLoggedIn">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a> </li>
                <li> <a routerLink="/books">Book Categories</a></li>
            </ul>
        </div>
    </nav>

</header>