header {
    overflow: hidden;
    max-height: 80px;
    background-color: #1e384f;
}

div.topnav {

    float: right;
    color: #f2f2f2;
    text-align: end;
    
    margin-left: 250px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

a {
    padding-left: 20px;
   
    color: azure;
    text-decoration: none;
}

.logout {
    cursor: pointer;
}

.topnav a:hover {
    color: rgb(160, 244, 241);
    text-shadow: rgb(208, 248, 250) 1px 0 10px;
}

.topnav-right {
    float: right;  
    color: #f2f2f2;
    text-align: end;    
    margin-left: 400px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
}
.topnav-right a:hover {
    color: rgb(160, 244, 241);
    text-shadow: rgb(208, 248, 250) 1px 0 10px;
}

h2{
    color:azure;
    font-family:'Cinzel Decorative', cursive;
    margin-left: 10px;   
    text-align: center;
    position: relative; 
  text-shadow: rgb(0, 242, 255) 1px 0 10px;
  white-space: nowrap;
}



/* header {
    max-height: 80px;
    
    background-color: #1e384f;

}
h2{
    color:azure;
    font-family:'Cinzel Decorative', cursive;
    margin-left: 10px;   
    position: absolute; 
  text-shadow: rgb(0, 242, 255) 1px 0 10px;
}


.mini-navbar{
   width: 100%;
    margin-left: 900px;
    

}

header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
    
}


header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: medium;    
}

nav {
    border-top: 1px solid #317785;
}


.mini-navbar-wrap  {
    display: flex;
    margin-top: 0px;
} */