<!-- <header class="header">
    <div class="header">
        <nav class="navbar">
            <a routerLink="/home">Home</a>
            <a routerLink="/categories">Categories</a>            
            <a routerLink="/profile">Profile</a>
            <a routerLink="/login">Create Review</a>
            <a routerLink="/login">Logout</a>            
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>           
        </nav>
    </div>

</header> -->

<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="isLoggedIn">
                <li>
                    <a routerLink="/profile">{{username}}'s profile</a>
                </li>
                <li (click)="logout()">
                    <a >Logout</a>
                </li>
            </ul>
            <ul *ngIf="!isLoggedIn">
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>

            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/categories">Themes</a>
            </li>
            <li>
                <a href="#">New Theme</a>
            </li>
        </ul>
    </nav>

</header>