<aside>
    <div class="aside">
        <h2 > Last Comments </h2>
        <div *ngIf="thereAreNoComments">
            <h3> Be first to leave a comment!</h3>
        </div>

        <div>
            <div  *ngFor="let comment of commentsList" class="aside-book">
                <a href="#">
                    <h3>{{ comment.bookId.name }}</h3>
                    <p>{{ comment.userId.username }}</p>
                    <p>
                      
                    </p>
                  </a>
            </div>
        </div>
    </div>
</aside>
